{{ template "header.html" .}}

  <div class="container">

    <form class="form-signin" method="post" action="/member/signin">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label class="sr-only">Email address</label>
      <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
      <label class="sr-only">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in">
      <br>
      <p>
        New to usercenter? <a href="/member/register">Create a account</a>
      </p>
    </form>

  </div>

{{ template "footer.html" .}}
